.headline {
  padding: 60px 0 20px;
}
.project {
  margin-bottom: 15px;
  display: inline-block;
}
.office-list {
  float: right;
}
.newhire-in-project .twu{
  background: #9b59b6;
}
.newhire-in-project .office{
  background: #e67e22;
}
.newhire-in-project .probation{
  background: #3498db;
}
.newhire-in-project .btn-primary {
  display: inline;
  float: left;
  margin-top: 6px;
  margin-right: 10px;
}
.newhire-in-project .tile {
  text-align: left;
  margin-bottom: 20px;
}
.newhire-in-project .tile-title {
  display: inline;
}
.newhire-in-project .number {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  background: #34495E;
  color: white;
  border-radius: 36px;
  text-align: center;
  height: 30px;
}
.project-info {
  line-height: 60px;
  margin-bottom: 20px;
}
.project, .number {
  vertical-align: middle;
  margin: 0;
}

