.headline {
  padding: 60px 0 20px;
}
.project {
  margin-bottom: 15px;
  display: inline-block;
}
.office-list {
  float: right;
}
.newhire-in-project .twu{
  background: #9b59b6;
}
.newhire-in-project .office{
  background: #e67e22;
}
.newhire-in-project .probation{
  background: #3498db;
}
.newhire-in-project .btn-primary {
  display: inline;
  float: left;
  margin-top: 6px;
  margin-right: 10px;
}
.newhire-in-project .tile {
  display: block;
  text-align: left;
  margin-bottom: 20px;
}
.newhire-in-project .tile-title {
  display: inline;
}
.newhire-in-project .number {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  background: #34495E;
  color: white;
  border-radius: 36px;
  text-align: center;
  height: 30px;
}
.project-info {
  line-height: 60px;
  margin-bottom: 20px;
}
.project, .number {
  vertical-align: middle;
  margin: 0;
}
.edit-panel {
  /*display: none;*/
}
.demo-tiles .span3 {
  position: relative;
}
.edit-panel {
  position: absolute;
  top: 4px;
  right: 7px; 
}
.hidden {
  display: none;
}
.edit-panel:hover {
  display: block;
}
.edit-panel span{
  padding-left: 5px;
}
/*detail page*/
.people-info {
  margin-top: 50px;
  display: inline-block;
}
.people-info .ui-slider {
  width: 170px;
}
.thumbnail {
  width: 90px;
  margin: 0 auto
}
.name {
  font-size: 35px;
  display: block;
  text-align: center;
  line-height: 70px;
}
.navbar-inverse {
  float: right;
}

